<div id="ask">

  <div class="title">
    <h3>hey buddy,</h3>
    <h4>nice to see you again.</h4>
  </div>

  <form action="/answer" clas="ask-content">
    <input type="text" name="question" placeholder="what'up dear old friend?">
    <input type="submit" value="Ask!">
  </form>

</div>

